
  @media (max-width: 630px) {
    .contenedor_menu {
      max-width: 100%;
      margin: auto;
      /* border: 1px red solid; */
    }
  
    .contenedor_menu ul {
      /* border: 1px blue solid; */
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: gray;
      gap: 5px;
      padding: 0;
      width: 100%;
    }
  
    .contenedor_menu ul li {
      width: 100%;
      text-align: left;
    }
  
    .contenedor_menu ul li a {
      text-decoration: none;
      display: block;
      color: var(--negro);
      background-color: white;
      /* border: green solid; */
      width: 100%;
      padding: 10px;
  }
  .contenedor_menu ul li a:hover{
    text-decoration: none;
    padding: 12px 27px;
    display: inline-block;
    color: var(--blanco);
    background-color: var(--negro);
  }
  .imagen_fondo h1{
    font-size: 38px;
    width: 100%;
    color: var(--negro);
    border: 1px red solid;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    vertical-align: 45px;
    padding: 10px 15px;
    line-height: 40px;
  }
  .papa {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Crea 2 columnas */
    gap: 15px;
    background-color: var(--gris);
    width: 100%; /* Ajusta al tamaño de la pantalla */
    border: 1px blue solid;
  }

  .madre {
    border: 1px blue solid;
    padding: 10px;
  }

  .hijo {
    text-align: center;
  }

  .imagen {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
  }

  .hijo_contenedor1 {
    margin: auto;
    text-align: center;
  }

  .btn_gris {
    display: inline-block;
    background-color: gray;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 15px;
    color: black;
  }
  .papa_pie{
    width: auto;
    margin: auto;
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor_logo img{
    width: 105px;
    display: block;
    /* border: 1px blue solid; */
  }
  .contenedor_redes{
    width: 180px;
    /* border: 1px palevioletred solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .redes{
    font-size: 25px;
    display: inline-block;
    /* border: 1px green solid; */
  }
  .papa_pie{
    width: auto;
    text-align: center;
    margin: auto;
    /* border: 1px red solid; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    
  }
  .contenedor_logo img{
    width: 105px;
    display: block;
    margin: auto;
    /* border: 1px blue solid; */
  }
  .contenedor_redes{
    width: 180px;
    /* border: 1px palevioletred solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}